body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.grid{
  position: relative;
  top: 16em;
  display: grid;
  grid-template-columns: auto auto auto;
  overflow-y: scroll;
  height: 22em;
}
.army{
  display: flex;
  flex-direction: row;
  background-color: aqua;
  height: 16em;
  width: 100%;
  position: fixed;
  border-bottom: 2000px;
}
.card-img-top{
  size: 10px;
  image-orientation: flip;
  height: 5cm;
  width: fit-content;
}